<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Your other CSS and JS-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>


    <!-- Your other CSS and JS imports -->

    <link rel="stylesheet" href="~/assets/css/custom-modal.css">

    <!--favicon-->

    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />
    <!-- SweetAlert2-->
    <link href="~/assets/plugins/Sweetalert2/sweetalert2.js"/>
    <!-- Toastr JavaScript -->
    <script src="~/assets/plugins/toastr/toastr.min.js"></script>
    <!-- Toastr CSS -->
    <link href="~/assets/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!-- SweetAlert2 JavaScript -->
    <script src="~/assets/plugins/Sweetalert2/sweetalert2.js"></script>

    <!-- SweetAlert2 CSS -->
    <link href="~/assets/plugins/Sweetalert2/sweetalert2.css" rel="stylesheet" />

    <!-- simplebar js -->
    <script src="~/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    <script src="~/assets/js/jquery.loading-indicator.js"></script>
    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>
    <!-- Chart js -->
    <!-- Index js -->
    <script src="~/assets/js/index.js"></script>
    <script src="~/assets/plugins/Chart.js/Chart.min.js"></script>
</head>

<body class="bg-theme bg-theme1">>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div>
        <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
            <partial name="_Header" />
            <partial name="_Sidebar" />


            <div class="page-wrapper">
                <div class="container-fluid">
                    <main role="main" class="pb-3"> 
                        @RenderBody()
                    </main>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal  -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg custom-modal-content">
            <div class="modal-content">
                <div class="modal-header custom-modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@ViewData["Title"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body">
                    . . .
                </div>
                @*                <div class="modal-footer custom-modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
            </div>
        </div>
    </div>

    <!-- Modal SM -->
    <div class="modal fade" id="modal_sm" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header custom-modal-header">
                    <h4 class="modal-title" id="modal_title_sm">@ViewData["Title"]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body_sm">
                    ...
                </div>
                <div class="modal-footer" id="modal_footer_sm">
                </div>
            </div>
        </div>
    </div>




</body>
</html>
