@using MinPro.viewmodels;
@model VMTblPasien


@{

    ViewData ["Title"] = "Delete Pasien";
}


<div class="h4 md-4">@ViewData["Title"]</div>

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post" id="form_delete">
            <input type="hidden" id="Id" name="Id" value="@Model.Id">
            <div class="mb-4 row">
                <div class="col-sm-8.5">
                    <div class="form-group">
                    <p style="text-align:center;">Apakah Kamu Yakin Mau Hapus ?</p>
                    <p style="text-align:center; color:azure;">@Model.Fullname</p>


                    <button type="submit" class="btn btn-light px-5"><i class="icon-plus"></i> DELETE!</button>
                    <a class="btn btn-light" asp-controller="Spesialisasi" asp-action="Index">Back To List</a>
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<script>
    $("#form_delete").validate({
        submitHandler: function (form) {

            var id = $("#Id").val();

            $.ajax({
                url: "/Pasien/SureDelete",
                type: "post",
                data: { id: id },
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon;
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success Deleted',
                            showConfirmButton: false,
                            timer: 1000
                        }).then(function () {
                            window.location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message
                        });
                    }
                }
            });
        }
    });
</script>