
@{
    ViewData["Title"] = "Delete Multiple Variant";
}


<div class="h4 md-4">@ViewData["Title"]</div>

<div class="card">
    <div class="card-body">
        <form asp-action="SureMultipleDelete" method="post" id="form_delete">
            <div class="mb-12 row">
                <div class="col-sm">
                    <div class="form-group">
                        <p style="text-align:center;">Apakah Kamu Yakin Mau Hapus ?</p>
                        @foreach (var item in ViewBag.Listname)
                        {
                            <p style="text-align:center; color:azure;">@item</p>
                        }
                        <br />
                        <br />
                        <div>
                        <p align="right">
                        <button type="submit" class="btn btn-light"> DELETE!</button>
                        <a class="btn btn-light" asp-controller="Pasien" asp-action="Index">Back</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>  
        </form>
    </div>
</div>




<script>
    $("#form_delete").validate({
        submitHandler: function (form) {

            var id = $("#Id").val();

            $.ajax({
                url: "/Pasien/SureMultipleDelete",
                type: "post",
                data: { listId: listId },
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon;
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success Deleted',
                            showConfirmButton: false,
                            timer: 1000
                        }).then(function () {
                            window.location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message
                        });
                    }
                }
            });
        }
    });
</script>

