
<form action="LoginCoba" method="post" class="mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="text-dark" for="Email">Username</label>
                <input class="form-control" id="Username" name="Username" type="text">
            </div>
        </div>
        
        <div class="col-lg-12 text-center">
            <button type="submit" class="btn btn-block btn-dark">Sign In</button>
        </div>
    </div>
</form>
