@{
    ViewData["Title"] = "Tentang";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}
<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Tentang Kami</h3>
                    <p><a href="\">Home /</a> Tentang Kami</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="~/template/img/about/1.png" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="~/template/img/about/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Selamat Datang</h2>
                    <h3>
                        Rumah Sakit <br>Sejahtera</br>
                    </h3>
                    <p>
                        Rumah Sakit Sejahtera merupakan Rumah Sakit yang mengutamakan kesejahteraan masyarakat, dan diresmikan Maret 2023.
                        Kami memposisikan diri dalam mengoptimalkan pelayanan kepada pasien.
                        Kami percaya, pelayanan kesehatan yang terhubung, terstandarisasi, dan tepat sasaran adalah kunci mengatasi berbagai permasalahan industri kesehatan Indonesia.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_docmed_area_end -->