@using MinPro.viewmodels;

@model VMDoctor

<div class="row mt-3">
    
    <!-- Profile Share Layout -->
    <partial name="_ProfileDoctorShareLayout" />

    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="fa fa-user-md"></i> <span class="hidden-xs">Tindakan Dokter</span></a>
                    </li>
                    @*<li class="nav-item">
                    <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Messages</span></a>
                    </li>
                    <li class="nav-item">
                    <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                    </li>*@
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3">Tindankan Dokter</h5>
                        <div class="row">
                            <div class="card col-md-12">
                                <div class="col-md-12">
                                    <hr>
                                    @foreach (var Treatment in Model.Treatment)
                                    {
                                        <span class="badge badge-primary">@Treatment.Name <a class="btn_delete" dataid="@Treatment.Id"><i class="fa fa-times "></i></a></span>
                                    }   
                                </div>
                                <br />
                                
                            </div> 
                            
                        </div>
                        <div class="card text-right">
                            <div class="col-md-11">
                                <button type="button" class="btn btn-primary btn-floating position-absolute top-0 start-100" id="btn_create"><i class="fa fa-plus"></i></button>

                            </div>
                            
                            
                        </div>
                        <!--/row-->
                        
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script>
        

        $("#btn_create").click(function () {
            $("#modal_body_sm").empty()
            $("#modal_body_sm").load("/Tindakan/Create")
            $("#modal_sm").modal("show")
        })

        $(".btn_delete").click(function () {
            var id = $(this).attr("dataid")

            $("#modal_body_sm").empty()
            $("#modal_body_sm").load("/Tindakan/Delete?id=" + id)
            $("#modal_sm").modal("show")
        })
    </script>
